
<%- include("partials/header") %>

<style>
  #frm-add-book label.error {
    color: red;
  }
</style>

<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Add Book</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Add Book</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div  class="col-md-12"
            <!-- general form elements disabled -->
            <div class="card card-dark">
                <div class="card-header">
                  <h3 class="card-title">Add Book</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <form action="/admin/add-book" id="frm-add-book" method="post" enctype="multipart/form-data">
                    <div class="row">
                      <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Name</label>
                          <input type="text" class="form-control" placeholder="Enter Name" name="name" required>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Select Category</label>
                          <select class="form-control" name="dd_category" required>
                            <option value="">Choose a Category</option>
                            <% categories.forEach(function(data){ %>
                              <option value="<%= data.id %>"><%= data.name %></option>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Description</label>
                          <textarea name="description" placeholder="Description" class="form-control"></textarea>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Amount</label>
                          <input type="number" min="1" class="form-control" placeholder="Enter Amount" name="amount" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Cover Image</label>
                          <input type="file" name="cover_image" class="form-control" required/>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Author</label>
                          <input type="text" class="form-control" placeholder="Enter Author name" name="author" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Status</label>
                          <select class="form-control" name="status">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <button  type="submit" class="btn btn-dark">Submit</button>
                  </form>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("partials/footer") %>