
<%- include("partials/header") %>

<style>
  #frm-add-category label.error{
    color: red;
  }
</style>

<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Edit Category</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Edit Category</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div  class="col-md-12"
            <!-- general form elements disabled -->
            <div class="card card-dark">
                <div class="card-header">
                  <h3 class="card-title">Edit Category</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <form id="frm-edit-category" name="frm-edit-category" method="post" action="/admin/edit-category/<%= category.id %>">
                    <div class="row">
                      <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Name</label>
                          <input type="text" value="<%= category.name %>" class="form-control" placeholder="Enter Name" name="name" required>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Status</label>
                          <select class="form-control" name="status">
                            <option <% if(category.status == '1'){ %> selected <% } %> value="1">Active</option>
                            <option <% if(category.status == '0'){ %> selected <% } %> value="0">Inactive</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <button  type="submit" class="btn btn-dark">Submit</button>
                  </form>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("partials/footer") %>